* {
    padding: 0;
    margin: 0;
  }
  
  body {
    text-align: center;
  }
  
  main {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vw;
  }
  
  form {
    width: 30vw;
    height: 25vh;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  form h1 {
    margin-bottom: 50px;
    font-family: fantasy;
  }
  
  form label {
    font-size: 20px;
  }
  
  form input {
    font-size: 20px;
    border-radius: 4px;
  }
 
  
  /* Responsive styles */
   
  @media (max-width: 768px) {
    main {
        background-repeat: repeat;
       background-size: contain;
    }
  }
  @media (max-width: 768px) {
    form {
      width: 60vw;
      height: 30vh;
    }
    .container{
        padding-top: 40vh;
    }
   
  }
  
  @media (max-width: 480px) {
    form {
      width: 80vw;
    }
  }